body{
  background-color: black;
}
ul{
  display: flex;
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  background-color: grey;
}
li{
  padding: 60px 60px 60px 60px;
  color: yellow;
}
h1{
  color: magenta;
}

h2{
  color: magenta; 
}

p{
  color: white;
}
