body{
  font-size: 10px;
  margin: 0px 15% 0px 15%;
}

.background1{
  background: linear-gradient(to right, transparent, #0944A3, black), url('https://belaborsboom.github.io/ProjectSafeline/download.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.background2{
  background: linear-gradient(to right, transparent, #A30000, black), url('https://belaborsboom.github.io/ProjectSafeline/download.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.background3{
  background: linear-gradient(to right, transparent, #0AA335, black), url('https://belaborsboom.github.io/ProjectSafeline/download.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p{
  font-size: 18px;
  color: white;
  font-style: italic;
}
ul{
  display: flex;
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 0px 0px;
}
li{
  padding: 10px 0px 10px 0px;
  color: yellow;
  font-size: 20px;
  font-style: arial;
  transition: 1s;
  background-color: grey;
}

li:hover{
  transition: 1s;
  background-color: black;
}

h1{
  font-size: 45px;
  color: magenta;
  font-style: italic;
}

h2{
  font-size: 25px;
  color: magenta;
  font-style: italic;
}

h3{
  font-size: 20px;
  color: magenta;
  font-style: italic;
}

a:visited{
  text-decoration: none;
  color: yellow;
}

a:link{
  text-decoration: none;
  color: yellow;
}
a:hover{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

.tekst1{
  margin: 0px 150px 0px 10px;
}

.img1{
  float: right;
}

.sectione{
  margin: 0px 0px 150px 0px;
}

.menu{
  padding: 10px 10px 10px 10px;
}

.left{
  border: 1px solid white;
  width: 49.4%;
  float: left;
  margin: 0px 0px 2px 0px;
}

.right{
  border: 1px solid white;
  width: 50%;
  float: right;
  margin: 0px 0px 2px 0px;
}

.indexh{
  color: rgb(18, 77, 178);
}
.indexp{
  color: rgb(72, 200, 255);
}
.overonsh{
  color: rgb(98, 198, 120);
}
.overonsp{
  color: rgb(144, 213, 159);
}
.cyberh{
  color: rgb(188, 98, 98);
}
.cyberp{
  color: rgb(219, 145, 145);
}
