body{
  background-color: black;
  font-size: 10px;
  margin: 0px 0px 20px 20px;
}
p{
  font-size: 18px;
  color: white;
  font-style: italic;
}
ul{
  display: flex;
  list-style: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 0px 0px;
  background-color: grey;
}
li{
  padding: 10px 10px 10px 10px;
  color: yellow;
  font-size: 20px;
  font-style: arial;
}

li:hover{
  background-color: black;
}

h1{
  font-size: 30px;
  color: magenta;
  font-style: italic;
}

h2{
  font-size: 25px;
  color: magenta;
  font-style: italic;
}



a:visited{
  text-decoration: none;
  color: yellow;
}

a:link{
  text-decoration: none;
  color: yellow;
}
a:hover{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}
